# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# Cache e file temporanei generici
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.bak
*.tmp
*.cache
*.log
*.pid
*.seed
*.pid.lock
*.sqlite3
*.db
*.tgz
*.tar.gz
*.zip
*.rar
*.7z
*.gz
*.out
*.old
*.orig
*.save
*.swo
*.swn
*~
node_modules/
dist/
build/
tmp/
cache/
.cache/
.pytest_cache/
.mypy_cache/
.coverage
.env*
.vscode/
.idea/
.history/
coverage/
test-results/
test-output/
logs/
debug/
error/

# System files
.DS_Store
Thumbs.db

# Python (Server)
Server/venv/
Server/__pycache__/
Server/**/*.pyc

# Node.js (Angular)
application/node_modules/
application/dist/
application/greenratingalgorithm/
application/.angular/

# Log e file temporanei
*.log
*.tmp

# Altro
.env
.angular/
.vscode/
