h1 {
  color: #2e7d32;
  margin-top: 2em;
}
p {
  font-size: 1.2em;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.main-content {
  margin-top: 100px;
  min-height: 100vh;
}