.title-row {
  display: flex;
  align-items: center;
  gap: 1em;
}

.card-img {
  width: 48px;
  height: 48px;
  object-fit: contain;
  margin: 0;
}
.instructionCard {
  max-width: 400px;
  background-color: rgba(0, 128, 0, 0.65);
}

.card-content {
  opacity: 100%;
  color: #000000;
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
}

.card-img {
  width: 7.5%;
  height: auto;
  display: block;
  margin: 0.5em 0;
}

.card-text {
  opacity: 100%;
  color: #000000;
}

.chips {
  padding: 16px;
  opacity: 100%;
}