.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background: #31a357;
  color: rgb(219, 228, 215);
}

.githubButton {
  color: rgb(219, 228, 215);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  min-height: 40px;
}

.githubButtonIMG {
  display: inline-block;
  vertical-align: middle;
}