/*card generica*/
.instructionCard {
	width: 95vw;
	max-width: 100%;
	height: auto;
	margin: 2em auto;
	margin-top: 4em;
	margin-bottom: 2em;
	background-color: rgba(0, 128, 0, 1);
	box-sizing: border-box;
	border-radius: 16px;
	box-shadow: 0 2px 12px rgba(0,0,0,0.08);
	opacity: 1;
}

/* titolo */
.title-row {
	margin-top: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

/* immagine */
.card-img {
	width: 20px;
	height: 20px;
	object-fit: contain;
	margin: 0;
}

.card-content {
	opacity: 1;
	color: #000000;
}

.card-title {
	font-size: 1.5em;
	font-weight: bold;
}

.card-text {
	opacity: 1;
	color: #000000;
}

.more {
	padding: 16px;
	opacity: 1;
	display: flex;
	gap: 10px;
}

.button {
	opacity: 1;
    color: #ffffff;
    background-color: #0b6623;
    border: 1px solid rgba(0,0,0,0.12);
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}
