<mat-toolbar>
  <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>GreenRatingAlgorithm</span>
  <span class="example-spacer"></span>
  <button matIconButton class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <a href="https://github.com/PedronMartin/Tesi/tree/main" target="_blank" rel="noopener">
    <button matIconButton class="githubButton"><img src="assets/codeIcon.svg" class="githubButtonIMG"></button>
  </a>
</mat-toolbar>

<!-- TODO: aggiungere Logo applicazione -->