<div class="cards-list">
	<ng-container *ngFor="let card of instructionCards; let last = last; let i = index">
		<instructionCard
			[number]="i + 1"
			[title]="card.title"
			[longText]="card.longText"
			[path]="card.path"
			[button]="card.button"
			(buttonClick)="onCardButtonClick(i)"
		></instructionCard>
		<mat-icon *ngIf="!last">arrow_forward</mat-icon>
	</ng-container>
</div>

<div *ngIf="showCapture" id="leaflet-map-container" style="width:100%;height:400px;margin-top:2em;">
	<!-- Qui va il componente o il codice della mappa Leaflet -->
	<p>Qui verrà visualizzata la mappa Leaflet.</p>
</div>
